h1 {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 18pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
h2 {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
h3 {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 14pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
h4 {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
h5 {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
h6 {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 8pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
p {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
map > area {
  outline: none;
}
table.align-c {
  margin: 0 auto;
}
table.align-r {
  margin: 0 0 0 auto;
}
img {
  border: none;
}
.float-pos-l {
  float: left;
}
.float-pos-r {
  float: right;
}
.hr-wrapper {
  display: flex;
}
pre {
  margin: 0;
}
a[name],a[id] {
  vertical-align: top;
}
@media screen {
  .nsa-wrapper {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}
#content-box {
  box-sizing: border-box;
  min-height: 100%;
}
#nsa-box {
  flex-shrink: 0;
}
@media screen {
  #sa-box {
    overflow: auto;
    flex-grow: 1;
  }
}
.page0 {
  padding: 10px 15px;
}
.ts0 {
  font-family: 'Segoe UI';
}
.ts1 {
  font-family: 'Segoe UI Light';
  font-size: 26pt;
  color: Black;
}
.ts2 {
  font-family: Tahoma;
  font-size: 14pt;
  font-weight: bold;
  color: Black;
}
.ts3 {
  font-family: Tahoma;
}
.ts4 {
  font-family: Tahoma;
  color: Black;
}
.ts5 {
  font-family: Tahoma;
  font-size: 16pt;
  font-weight: bold;
  color: Black;
}
.ts6 {
  font-family: Tahoma;
}
.ts7 {
  font-family: Tahoma;
  font-weight: bold;
}
.ts8 {
  font-family: Tahoma;
  font-weight: bold;
  color: Black;
}
.ts9 {
  font-family: Tahoma;
  font-weight: bold;
}
.ts10 {
  font-family: Tahoma;
}
.ts11 {
  font-family: Tahoma;
  color: Black;
  background-color: Yellow;
}
.ts12 {
  font-family: Consolas;
  color: Black;
}
.ts13 {
  font-family: Consolas;
}
.ts14 {
  font-family: Tahoma;
  font-weight: bold;
  text-decoration: underline;
  color: Black;
}
.ts15 {
  font-family: 'Courier New';
}
.ts16 {
  font-family: Tahoma;
  text-decoration: underline;
  color: Blue;
}
.ts17 {
  font-family: Tahoma;
  text-decoration: underline;
  color: Black;
}
.ts18 {
  font-family: Consolas;
  font-weight: bold;
  color: #00b050;
}
.ts19 {
  font-family: Consolas;
  font-weight: bold;
  color: Black;
}
.ts20 {
  font-family: Tahoma;
  font-size: 14pt;
  font-weight: bold;
}
.ts21 {
  font-family: Tahoma;
  font-size: 13pt;
  font-weight: bold;
  color: Black;
}
.ts22 {
  font-family: Tahoma;
  color: Black;
  background-color: #c0504d;
}
.ts23 {
  font-family: Tahoma;
  background-color: #c0504d;
}
.hs0 {
  font-family: 'Segoe UI';
  text-decoration: underline;
  color: #1473e6;
}

.hs1 {
  font-family: Tahoma;
  text-decoration: underline;
  color: Blue;
}
.hs2 {
  font-family: Tahoma;
  text-decoration: underline;
  color: Blue;
}
a.hs2:hover {
  color: Red;
}
.hd0 {
  padding-top: 20px;
  font-size: 12pt;
}
.hd1 {
  font-size: 12pt;
}
.ps0 {
  font-size: 10pt;
}
.ps1 {
  text-align: right;
  font-size: 10pt;
}
.ps2 {
  padding-top: 6px;
  text-align: right;
  font-size: 10pt;
}
.ps3 {
  font-size: 11pt;
}
.ps4 {
  padding-left: 0.5in;
  text-indent: -0.251968503937008in;
  font-size: 11pt;
}
.ps5 {
  padding-left: 1.01666666666667in;
  text-indent: -0.251968503937008in;
  font-size: 11pt;
}
.ps6 {
  padding-left: 0.5in;
  font-size: 11pt;
}
.ps7 {
  padding-left: 0.508333333333333in;
  font-size: 11pt;
}
.ps8 {
  padding-left: 0.51in;
  font-size: 11pt;
}
.ps9 {
  padding-left: 0.5in;
  text-indent: -0.251968503937008in;
  font-size: 11pt;
}
.block0 {
  padding: 0 0 20px 0;
}
.block1 {
  padding: 0 0 0 0.5in;
}
.hline0 {
  width: 100%;
  height: 0px;
  margin: 8px auto;
  border-style: solid;
  border-width: 1px;
  border-top-color: DimGray;
  border-right-color: #e3e3e3;
  border-bottom-color: #e3e3e3;
  border-left-color: DimGray;
}
.hline1 {
  width: 100%;
  height: 1px;
  margin: 8px auto;
  background-color: Silver;
  border-style: none;
}
.tbl0 {
  width: 100%;
  border-collapse: collapse;
  border-style: none;
}
.tbl0 > tbody > tr.row0 {
  border-style: none;
}
.tbl0 > tbody > tr > td.cell0 {
  vertical-align: top;
  border-style: none;
}
.tbl0 > tbody > tr > td.cell1 {
  width: 190px;
  vertical-align: top;
  border-style: none;
}
.tbl1 {
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr.row0 {
  border-style: none;
}
.tbl1 > tbody > tr > td.cell0 {
  width: 2.04in;
  vertical-align: top;
  padding: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell1 {
  width: 9.24in;
  vertical-align: top;
  padding: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell2 {
  width: 1.61in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell3 {
  width: 2.76in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell4 {
  width: 2.3in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell5 {
  width: 1.72in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell6 {
  width: 7.2in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell7 {
  width: 1.21in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell8 {
  width: 5.07in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell9 {
  width: 1.42in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell10 {
  width: 1.35in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell11 {
  width: 1.25in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell12 {
  width: 4.58in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell13 {
  width: 3.25in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell14 {
  width: 6.88in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell15 {
  width: 2.98in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell16 {
  width: 5.29in;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.hs-mobile img.hs-fullwidth-m {
  width: 100%;
  height: auto;
  float: none;
}